body {
    background-color: #1a202c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e2e8f0;
    margin: 0;
    padding: 0;
    display: flex;          /* Volvemos a flex para centrar */
    flex-direction: column; /* Alineamos en columna */
    justify-content: center;
    align-items: center;
    min-height: 100vh;      /* Usamos min-height en vez de height */
    width: 100vw;
    overflow-x: hidden;
}

.login-card {
    background-color: #2d3748;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 100%;            /* Ajuste para que no se pase del máximo */
    max-width: 350px;       /* Mantenemos el ancho original */
    text-align: center;
    margin: auto;           /* Refuerzo de centrado */
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #fff;
}

.input-group {
    text-align: left;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.9rem;
    color: #63b3ed; /* Azul claro para los labels */
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #1a202c;
    border: 1px solid #4a5568;
    border-radius: 0.5rem;
    color: #fff;
    box-sizing: border-box; /* Importante para el padding */
}

input:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.5);
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #2b6cb0;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: #3182ce;
}

.footer-text {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #718096;
}

.metrics-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permitir que las tarjetas bajen si no caben en horizontal */
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.metric-card {
    background-color: #2d3748;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 150px;
    margin: 2rem;
}

.service-item{
    display: inline-block;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #2d3748;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.25em;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
    margin-left: 3%;
    margin-right: 3%;
}

.status-active{
    background-color: #2d8150; /* Verde para servicios activos */
}

.status-stop{
    background-color: #b86308; /* Naranja para servicios inactivos */
}

.status-error{
    background-color: #e53e3e; /* Rojo para servicios con error */
}

span{
    font-weight: bold;
}
span.status-dot{
    font-weight: normal;
}
span.status-dot::before{
    content: '●';
    margin-right: 0.5em;
}
