body{ 
    font-family: sans-serif;
    background: #1a1a1a;
    color: white;
    text-align: center;
}
.login-container {
    margin-top: 100px;
    background: #333;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
input {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.status-card { 
    background: #222;
    width: 80%;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
    border-left: 5px solid #444;
}
.online {
    border-left-color: #28a745;
    border-left: 8px solid #28a745;
    background: #2d3e2d;
}
.offline {
    border-left-color: #dc3545;
    border-left: 8px solid #dc3545;
    background: #3e2d2d;
}
#services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.status-card {
    width: auto !important; /* Sobreescribimos el 80% anterior */
    margin: 0 !important;
}
.system-metrics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.system-metrics .status-card {
    min-width: 150px;
    background: #333;
    border-left: 5px solid #007bff; /* Color azul para recursos */
}